<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline"><i class="fs-4 bi-lightning me-1"></i>{{ 'sidebarTitle' | translate }} </span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li authorized [roles]="[editorRole]">
                        <a class="nav-link px-0 align-middle" routerLink="/datasources">
                            <i class="fs-4 bi-database me-1"></i> <span class="ms-1 d-none d-sm-inline">{{ 'datasourcesLink' | translate  }}</span>
                        </a>
                    </li>
                    <li authorized [roles]="[editorRole, viewerRole]">
                        <a class="nav-link px-0 align-middle" routerLink="/dataitems">
                            <i class="fs-4 bi-newspaper me-1"></i> <span class="ms-1 d-none d-sm-inline">{{ 'dataitemsLink' | translate  }}</span>
                        </a>
                    </li>
                    <li authorized [roles]="[adminRole]">
                        <a class="nav-link px-0 align-middle" routerLink="/users">
                            <i class="fs-4 bi-file-earmark-person me-1"></i> <span class="ms-1 d-none d-sm-inline">{{ 'usersLink' | translate  }}</span>
                        </a>
                    </li>
                    <li authorized [roles]="[adminRole]">
                        <a class="nav-link px-0 align-middle" routerLink="/proxies">
                            <i class="fs-4 bi-gear me-1"></i> <span class="ms-1 d-none d-sm-inline">{{ 'proxiesLink' | translate  }}</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="pb-4">
                    <app-account-menu></app-account-menu>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="d-flex justify-content-center mb-3">
                <div class="page-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>