<ng-template #actionsColumn let-data="adtData">
    <button class="btn btn-danger" (click)="elementDeletter(data.id.toString())"><i class="bi-trash"></i></button>
</ng-template>

<table-page [pageName]="'sourceCollector'" 
            [columnOptions]="columns"

            [elementsGetter]="elementsGetter.bind(that)"
            
            [elementDeletter]="elementDeletter.bind(that)"
            
            [createEntryModalComponent]="collectorCreateModalComponent"
            [elementCreator]="rssCollectorCreator.bind(that)">
</table-page>